.workspace-leaf-content[data-type='memex-sidebar'],
.workspace-leaf-content[data-type='memex-sidebar'] .view-content {
    height: 100%;
    min-height: 0;
}

.workspace-leaf-content[data-type='memex-sidebar'] .view-content {
    padding: 0;
    display: flex;
    overflow: hidden;
}
